<% include header %>
	<header>
		<h1>Ntalk</h1>
		<h4>Erro no servidor. Aguarde enquanto resolvemos o problema.</h4>
	</header>
	<p>
		Pilha de erro:
		</br>
		<%- error.message %>
	</p>
	<hr>
	<p><a href="/">página inicial</a></p>
<% include footer %>