<% include ../header %>
	<header>
		<h1>Ntalk</h1>
		<h4>Editar contato.</h4>
	</header>
	<section>
		<form action="/contato/<%-id%>?_method=put" method="post">
			<input type="text" name="contato[nome]" value="<%- contato.nome %>">
			<br>
			<input type="text" name="contato[email]" value="<%- contato.email %>">
			<br>
			<button type="submit">atualizar</button>
		</form>
	</section>
	<% include ../exit %>
<% include ../footer %>